<h1 class="display-4 mt-2 ms-4 me-4 text-center">CONTACT US</h1>
    <hr>
        <div class="container">
          <div class="row g-0 ">
            <div class="col-md-6 text-center mt-4">
              <div class="card ">
                <div class="card-body">
                  <p class="card-title " style="text-align: left;"> Plot 11652 <br>
                    S’Morden Ward
                    <br>
                    Mogoditshane
                    <br>
                    Botswana</p>
                  <p style="text-align: left;">
                    Plot 11652
                    <br>
                    S’Morden Ward
                    <br>
                    Mogoditshane
                    <br>
                    Botswana
                  </p>
                  <p style="text-align: left;">
                    Tel:+267 72862105 , +267 72991338
                    <br>
                    Email:
                    <a href="mailto:gallantlegends@gmail.com">rogambery@gmail.com</a>
                    <br>
                    Website:
                    <a href="www.gallantslegends.co.za">www.gallantslegends.co.za</a>
                    <br>
                    Twitter:
                    <a href="@GallantsQS">@GallantsQS</a>
                  </p>

                </div>

              </div>
              </div>

            <div class="col-md-6">
              <div class="card-body">
                <form>
                  <!-- Name input -->
                  <div class="form-outline mt-4 ">
                    <input type="text" placeholder="Name" id="form4Example1" class="form-control" />
                    <label class="form-label" for="form4Example1"></label>
                  </div>

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" placeholder="Email address" id="form4Example2" class="form-control" />
                    <label class="form-label" for="form4Example2"></label>
                  </div>

                  <!-- Message input -->
                  <div class="form-outline mb-4">
                    <textarea class="form-control" placeholder="Message" id="form4Example3" rows="4" ></textarea>
                    <label class="form-label" for="form4Example3"></label>
                  </div>

                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-center mb-4 mt-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
                    <label class="form-check-label" for="form4Example4">
                      Send me a copy of this message
                    </label>
                  </div>

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
                </form>
            </div>
          </div>

        </div>
    <footer>
      <div class="container">
        <div class="row mt-2">
        <div class="col-4 fs-6">
          Copyright &copy Gallants&Legends 2022
        </div>
        <div class="col-4 fs-6">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-twitter"></a>
        </div>
        <div class="col-4 fs-6">
          Privacy Policy     Terms of Use
        </div>
        </div>
      </div>
