<div class="footer-new pb-4 pt-1">
  <div class="row mt-4">
    <div class="col-sm-12 col-md-4 fs-6 ps-4">
      <p>Social media links</p>
      <a href="gallantsandlegends" class="fa fa-facebook mx-2"></a>
      <a href="gallantsandlegends" class="fa fa-instagram mx-2"></a>
      <a href="@gallantsandlegends" class="fa fa-twitter mx-2"></a>
    </div>
    <div class="col-sm-12 col-md-4 fs-6">
      Copyright &copy; Gallants&Legends 2022
    </div>

    <div class="col-sm-12 col-md-4 fs-6">
      Privacy Policy Terms of Use
    </div>
  </div>
</div>
