<footer>
  <div class="container">
      <div class="row mt-2">
          <div class="col-4 fs-6">
              Copyright &copy Gallants&Legends 2022
          </div>
          <div class="col-4 fs-6">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-twitter"></a>
          </div>
          <div class="col-4 fs-6">
              Privacy Policy Terms of Use
          </div>
      </div>
  </div>
</footer>

