<div class="container">
  <h1 class="display-4 ms-4 text-center">{{header1}}</h1>
  <hr />
  <div class="row mt-4 ms-4 me-4">
    <div>
      <div class="col-sm-12">
        <p>Gallants & Legends is an agile specialist construction cost consulting company based in
          Gaborone, Botswana.
        </p>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Galants & Legends speacialise in the following:
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Building |Economics</li>
              <li class="list-group-item">Quantity Surveying</li>
              <li class="list-group-item">Project Mentoring</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <h2 class="text-center">OUR TEAM</h2>
    <div class="col-md-4 ">
      <div class="card shadow" style="width: 25rem;">
        <img src="assets/images/director.jpg" class="card-img-top" alt="..." style="height: 260px;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow" style="width: 25rem;">
        <img src="assets/images/quantity surveyor1.jpg" class="card-img-top" alt="..." style="height: 260px;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow" style="width:25rem;">
        <img src="assets/images/technician.jpg" class="card-img-top" alt="..." style="height: 260px;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
