<h1 class="display-4 ms-4 text-center">ABOUT US</h1>
    <hr />
    <main class="about">
        <div class="container ">
            <div class="row mt-4 ms-4 me-4">
                <div class="">
                    <div class="col-sm-12">
                        <h2 class="text-center">INTRODUCTION</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolorem dolorum eius illo nam necessitatibus quis vel. Amet beatae dolorum est ipsam ipsum iusto maxime quia quo repellendus, rerum! Accusamus aperiam aspernatur consectetur deserunt earum explicabo facilis ipsam ipsum iusto laudantium minima, perferendis, quaerat sint sit tempora totam unde vel voluptatibus. Aspernatur cumque ea ex exercitationem modi nemo, placeat quo. A aliquid beatae consectetur consequuntur, dolor facilis fugiat incidunt inventore laborum libero magnam magni pariatur perferendis praesentium quae quibusdam ullam veritatis voluptatibus. Aperiam architecto autem consequuntur cum itaque labore non officia qui quia quidem! Accusamus aliquam corporis cumque dignissimos dolore eiu</p>
                        <p>Gallants&Legends is an agile specialist construction cost consulting company based in
                            Gaborone, Botswana specialising in the following:
                        </p>
                        <ul>
                            <li>Building |Economics</li>
                            <li>Quantity Surveying</li>
                            <li>Project Mentoring</li>
                        </ul>
                    </div>
                    <h2 class="text-center mt-4">OUR PRINCIPAL DIRECTOR</h2>
                    <div class="card mb-3 mt-4">
                        <div class="row g-4">
                            <div class="col-md-6">
                                <p class="card-text">Muchengeti G Mberi is the Managing director of Gallants&Legends (Pty)Ltd and
                                    commands Industrial exposure of 18years. He attained a Masters in Quantity Surveying
                                    and has been exposed to project of various nature for various nature just mentioned a few This content is a little bit longer.</p>
                                <p>He was the Project Qs for the development of new Molepolole Institute of Health Sciences
                                    valued at BWP255.</p>
                                <p>He was the Project Qs of the development of the WUC -Good-hope water reticulation phase
                                    II valued at BWP132m.</p>
                                <p>He also was the project Qs for Gumare Internal roads & bus rank valued at BWP 89m.</p>

                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <img src="assets/images/director.jpg" class="img-fluid rounded-start" style="height:100%" alt="...">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container">
            <div class="row mt-4 ms-4 me-4 g-4 de-flex">
                <h2 class="text-center"> OUR QUANTITY SURVEYORS</h2>
                <div class="d-flex">
                    <div class="col-6">
                        <div class="card" style="width: 25rem;">
                            <img src="assets/images/image7.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text"><p>Gallants &Legends has 2 Senior quantity surveyors who both hold BSC in Quantity
                                Surveying and they both have attained a minimum of 5years exposure in the industry</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card" style="width: 25rem;">
                            <img src="assets/images/technician.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text"><p>Gallants &Legends has 2 Senior quantity surveyors who both hold BSC in Quantity
                                Surveying and they both have attained a minimum of 5years exposure in the industry</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        </div>
        </div>
        <div class="container">
            <div class="container">
                <div class="row mt-4 ms-4 me-4 mb-4">
                    <div class="d-flex justify-content-between">
                        <div class="col-12 ms-4">
                            <h2 class="text-center">OUR VISION, PURPOSE AND VALUES</h2>
                            <h3 class="text-center">Vision</h3>
                            <p>Our vision is to be a trusted advisor to project owners in the built environment across the African continent, partnering with them to deliver cost-effective buildings and infrastructure.o minima natus.</p>
                            <h3 class="text-center">Purpose</h3>
                            <p>We are a professional services firm in the built-environment sector dedicated to ensuring that project owners set appropriate budgets, control construction costs and derive long-term value from their assets.</p>
                            <h3 class="text-center">Values</h3>
                            <ul>
                                <li class="text-center">trust</li>
                                <li class="text-center">Collaboration</li>
                                <li class="text-center">Continuous Improvement</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
