<section class="text-center mt-5">
  <div class="container ">
      <div class="image-text">
          <h1 style="font-size: 4em; color:#533E85">Our Skills,Your Success</h1>
          <h2 class="mt-5 align-middle" style="font-size: 1.9em;                                                                              v>
                    line-height: 1.3em;
                    letter-spacing: -.02em; color:#488FB1">Gallants and Legends is an agile specialist construction cost consulting company based in
              Gaborone, Botswana.
          </h2>
          <a style="font-size: 1.4em;" href="services.html">What we can do for you</a>
      </div>
  </div>
</section>
