<div class="container mt-4">
  <div class="row shadow">
    <div class="col-md-6">
      <div class="card mb-3">
        <img src="assets/images/image3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cardTitle}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h1>{{title}}</h1>
      <p>Welcome to Roeleveld Quantity Surveyor’s website.<br>

        “Confidence doesn’t come out of nowhere. It is a result of something . . . hours and days and weeks and years of
        constant work and dedication.” – Roger Staubach<br>

        We are confident that we, at Roeleveld Quantity Surveyors are able to offer our clients exemplary expertise in
        the
        Quantity Surveying and Construction Project Management fields.<br>

        Our years of dedicated work in the construction industry together with our track record are confirmation of our
        commitment and intent to provide unsurpassed support to our clients in order to complete projects on time,
        within
        the required budget and to our client’s expectations.<br>

        We endeavour now and in the future to provide first-rate services.<br>

        We trust that you enjoy visiting our website and look forward to hearing from you.</p>
    </div>

  </div>
</div>
<div class="container mt-4 ">
  <div class="row">
    <div *ngFor="let image of images" class="col-md-4 ">
      <div class="card shadow" style="width: 18rem;">
        <img [src]="image.imgUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{image.cardText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
