<form class="row g-3">
  <div class="col-md-6">
    <label for="inputId" class="form-label"></label>
    <input type="id" class="form-control" id="inputid" placeholder="Id">
  </div>
  <div class="col-md-6">
    <label for="inputTitle" class="form-label"></label>
    <input type="title" class="form-control" id="inputTitle" placeholder="Title">
  </div>
  <div class="col-12">
    <label for="inputLocation" class="form-label"></label>
    <input type="text" class="form-control" id="inputLocation" placeholder="Location">
  </div>
  <div class="col-12">
    <label for="inputProgress" class="form-label"></label>
    <input type="text" class="form-control" id="inputProgress" placeholder="Progress">
  </div>
  <div class="col-md-6">
    <label for="inputDatestarted" class="form-label"></label>
    <input type="text" class="form-control" id="inputDatestarted" placeholder="Date started">
  </div>
  <div class="col-md-6">
    <label for="inputDatecompleted" class="form-label"></label>
    <input type="text" class="form-control" id="inputDatecompleted" placeholder="Date completed">
  </div>
  <div class="col-md-2">
    <label for="inputLeadengineer" class="form-label"></label>
    <input type="text" class="form-control" id="inputLeadengineer" placeholder="Lead engineer">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
