<h1 class="text-center mt-4 display-4">{{title}}</h1>
<hr>
<div class="container">
  <div class="row ">
    <div class="col-md-8">
      <div class="card shadow" style="border-radius: 20px;">
        <img src="assets/images/image2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Title: Kazungula</p>
          <p class="card-text">Location: Zambia</p>
          <p class="card-text">Status: Completed</p>
        </div>
        <div class="text-center mb-4">
          <button type="button" class="btn btn-success btn-lg rounded-pill me-2">View</button>
          <button type="button" class="btn btn-warning btn-lg rounded-pill me-2">Edit</button>
          <button type="button" class="btn btn-danger btn-lg rounded-pill">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8">
      <div class="card shadow" style="border-radius: 20px;">
        <img src="assets/images/image6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Title: Kazungula</p>
          <p class="card-text">Location: Zambia</p>
          <p class="card-text">Status: Completed</p>
        </div>
        <div class="text-center mb-4">
          <button type="button" class="btn btn-success btn-lg rounded-pill me-2">View</button>
          <button type="button" class="btn btn-warning btn-lg rounded-pill me-2">Edit</button>
          <button type="button" class="btn btn-danger btn-lg rounded-pill">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-md-8">
      <div class="card shadow" style="border-radius: 20px;">
        <img src="assets/images/image3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Title: Kazungula</p>
          <p class="card-text">Location: Zambia</p>
          <p class="card-text">Status: Completed</p>
        </div>
        <div class="text-center mb-4">
          <button type="button" class="btn btn-success btn-lg rounded-pill me-2">View</button>
          <button type="button" class="btn btn-warning btn-lg rounded-pill me-2">Edit</button>
          <button type="button" class="btn btn-danger btn-lg rounded-pill">Delete</button>
        </div>

      </div>

    </div>

  </div>


  <!-- <div class="row mt-4">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/image2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Title: Kazungula </p>
          <p class="card-text">Location: Zambia</p>
          <p class="card-text">Status: Completed</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/image4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Title: Kazungula</p>
          <p class="card-text">Location: Zambia</p>
          <p class="card-text">Status: Completed</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/image5.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Title: Kazungula</p>
          <p class="card-text">Location: Zambia</p>
          <p class="card-text">Status: Completed</p>
        </div>
      </div>
    </div>
  </div> -->
</div>
