<h1 class="display-4 ms-4 mt-4 text-center">SERVICES</h1>
<hr>
<div class="container">
  <div class="row mt-4 ms-4 me-4">
    <div class="d-flex justify-content-between">
      <div class="col-sm-6">
        <h5>Quantity Surveying</h5>
        <ul>
          <li>Value Engineering</li>
          <li>Cost Management&reporting</li>
          <li>Client Liaison relative construction critical path</li>
          <li>Preparing order of cost estimated and final accounting</li>
          <li>Bills of quantity and tender evaluation reports</li>
        </ul>
      </div>
      <div class="col-sm-6 ms-4">
        <h5 >PROJECT MENTORING</h5>
        <ul>
          <li>Nursing projects post design period to completion</li>
          <li>Monitoring and supervising the construction process</li>
          <li>To complete the project within the client budget, required
            time and of required quality</li>
          <li>We programme and monitor the process, reporting and
            appraising the client regularly</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-4 ms-4 me-4">
    <div class="d-flex justify-content-between">
      <div class="col-sm-6">
        <h5>Reinstatement Valuations for Insurance</h5>
        <p>We offer our clients reinstatement valuations of fixed improvements for insurance purposes. Ideally, this should be carried out on an annual basis so that escalation in construction costs is taken into account. </p><br>
        <img src="assets/images/image2.jpg" class="card-img-top" alt="..." style=" width:500px">
      </div>
      <div class="col-sm-6 ms-4">
        <h5 >Dispute Resolution</h5>
        <p>We offer an accredited mediation service to the property, construction and engineering sectors. Our expertise in this field is assured, with our executive director being part of the prestigious RICS President’s Panel of Mediators.

          Mediation holds a number of advantages for parties to a dispute, especially where the mediator is a subject-matter expert:

          It is a private process which avoids the public airing of any personal matters and the terms of the settlement are usually confidential.
          Mediation does not require legal representation, which makes it a much cheaper method of dispute resolution.
          Mediation is a more creative process as it is not bound by legalities and can accommodate the needs of each party in reaching a settlement.

        </p>
      </div>
    </div>
  </div>
  <div class="row mt-4 ms-4 me-4">
    <div class="d-flex justify-content-between">
      <div class="col-sm-6">
        <h5>Project Audit</h5>
        <p>Part of our offering is an audit report, advising clients on the adequacy of procedures employed during a project’s lifetime in comparison to best practice.</p>
      </div>
      <div class="col-sm-6 ms-4">
        <h5 >Condition Survey</h5>
        <p>In collaboration with other built-environment professionals, we are able to prepare detailed reports based on the survey of a building’s structure, fabric and services, which assists property owners with maintenance planning and budgeting.</p>
      </div>
    </div>
  </div>
</div>

