<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
      <a class="navbar-brand fst-italic fw-bold" style="color:#533E85;" href="#">Gallants and Legends</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item ">
                  <a class="nav-link active text-mute" aria-current="page" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/about-us']" routerLinkActive="router-link-active" >About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/services']">Services</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/contact-us']" routerLinkActive="router-link-active" >Contact Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/projects']" routerLinkActive="router-link-active" >Projects</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
